In [1]:
from notebook_utils import BMW_PARSED, BMW_PREPROCESSED

üìÅ –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø—É—Ç–µ–π –≤ config.py:
‚úÖ CARS_CSV: d:\code-files\pet-projects\BimmerAI\data\bmw_parsed.csv
‚úÖ BMW_DATA_CSV: d:\code-files\pet-projects\BimmerAI\data\bmw_preprocessed.csv
‚úÖ BMW_PARSED: d:\code-files\pet-projects\BimmerAI\data\bmw_parsed.csv
‚úÖ Config —É—Å–ø–µ—à–Ω–æ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω!

In [2]:
import re
import pandas as pd

In [3]:
data = pd.read_csv(BMW_PARSED)
data

,–ú–æ–¥–µ–ª—å,–ì–æ–¥,–ü—Ä–æ–±–µ–≥,–¶–µ–Ω–∞,–û–ø–∏—Å–∞–Ω–∏–µ
0,BMW 1 —Å–µ—Ä–∏—è F40,2019,129000,16999,"—Ä–æ–±–æ—Ç, 1,5¬†–ª, –¥–∏–∑–µ–ª—å, —Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤."
1,BMW 7 —Å–µ—Ä–∏—è G12 (Long) ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2019,35000,83777,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –¥–∏–∑–µ–ª—å, —Å–µ–¥–∞–Ω"
2,BMW 5 —Å–µ—Ä–∏—è E39,1999,400000,3399,"–º–µ—Ö–∞–Ω–∏–∫–∞, 2,5¬†–ª, –¥–∏–∑–µ–ª—å, —Å–µ–¥–∞–Ω"
3,"BMW 1 —Å–µ—Ä–∏—è E81, E82, E88, E87",2005,370000,7200,"–∞–≤—Ç–æ–º–∞—Ç, 2,0¬†–ª, –±–µ–Ω–∑–∏–Ω, —Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤."
4,BMW X6 E71 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2012,149000,23450,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –±–µ–Ω–∑–∏–Ω, –≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤."
...,...,...,...,...,...
2970,BMW X6 E71,2011,277000,22290,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –¥–∏–∑–µ–ª—å, –≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤."
2971,"BMW 5 —Å–µ—Ä–∏—è F10, F11",2012,256000,23500,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –¥–∏–∑–µ–ª—å, —Å–µ–¥–∞–Ω"
2972,"BMW 4 —Å–µ—Ä–∏—è F32, F33, F36",2013,268500,21500,"–∞–≤—Ç–æ–º–∞—Ç, 2,0¬†–ª, –±–µ–Ω–∑–∏–Ω, –∫—É–ø–µ"
2973,BMW 2 —Å–µ—Ä–∏—è Active Tourer F45,2017,200000,13000,"–º–µ—Ö–∞–Ω–∏–∫–∞, 1,5¬†–ª, –¥–∏–∑–µ–ª—å, –º–∏–Ω–∏–≤—ç–Ω"
2974,BMW 7 —Å–µ—Ä–∏—è E65,2002,280000,6300,"–∞–≤—Ç–æ–º–∞—Ç, 3,6¬†–ª, –±–µ–Ω–∑–∏–Ω, —Å–µ–¥–∞–Ω"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2975 entries, 0 to 2974
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   –ú–æ–¥–µ–ª—å    2975 non-null   object
 1   –ì–æ–¥       2975 non-null   int64
 2   –ü—Ä–æ–±–µ–≥    2975 non-null   int64
 3   –¶–µ–Ω–∞      2975 non-null   int64
 4   –û–ø–∏—Å–∞–Ω–∏–µ  2975 non-null   object
dtypes: int64(3), object(2)
memory usage: 116.3+ KB

In [5]:
data.drop_duplicates(inplace=True)
data

,–ú–æ–¥–µ–ª—å,–ì–æ–¥,–ü—Ä–æ–±–µ–≥,–¶–µ–Ω–∞,–û–ø–∏—Å–∞–Ω–∏–µ
0,BMW 1 —Å–µ—Ä–∏—è F40,2019,129000,16999,"—Ä–æ–±–æ—Ç, 1,5¬†–ª, –¥–∏–∑–µ–ª—å, —Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤."
1,BMW 7 —Å–µ—Ä–∏—è G12 (Long) ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2019,35000,83777,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –¥–∏–∑–µ–ª—å, —Å–µ–¥–∞–Ω"
2,BMW 5 —Å–µ—Ä–∏—è E39,1999,400000,3399,"–º–µ—Ö–∞–Ω–∏–∫–∞, 2,5¬†–ª, –¥–∏–∑–µ–ª—å, —Å–µ–¥–∞–Ω"
3,"BMW 1 —Å–µ—Ä–∏—è E81, E82, E88, E87",2005,370000,7200,"–∞–≤—Ç–æ–º–∞—Ç, 2,0¬†–ª, –±–µ–Ω–∑–∏–Ω, —Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤."
4,BMW X6 E71 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2012,149000,23450,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –±–µ–Ω–∑–∏–Ω, –≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤."
...,...,...,...,...,...
2970,BMW X6 E71,2011,277000,22290,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –¥–∏–∑–µ–ª—å, –≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤."
2971,"BMW 5 —Å–µ—Ä–∏—è F10, F11",2012,256000,23500,"–∞–≤—Ç–æ–º–∞—Ç, 3,0¬†–ª, –¥–∏–∑–µ–ª—å, —Å–µ–¥–∞–Ω"
2972,"BMW 4 —Å–µ—Ä–∏—è F32, F33, F36",2013,268500,21500,"–∞–≤—Ç–æ–º–∞—Ç, 2,0¬†–ª, –±–µ–Ω–∑–∏–Ω, –∫—É–ø–µ"
2973,BMW 2 —Å–µ—Ä–∏—è Active Tourer F45,2017,200000,13000,"–º–µ—Ö–∞–Ω–∏–∫–∞, 1,5¬†–ª, –¥–∏–∑–µ–ª—å, –º–∏–Ω–∏–≤—ç–Ω"
2974,BMW 7 —Å–µ—Ä–∏—è E65,2002,280000,6300,"–∞–≤—Ç–æ–º–∞—Ç, 3,6¬†–ª, –±–µ–Ω–∑–∏–Ω, —Å–µ–¥–∞–Ω"

In [6]:
mask = ~data["–û–ø–∏—Å–∞–Ω–∏–µ"].str.contains("—ç–ª–µ–∫—Ç—Ä–æ|–≥–∏–±—Ä–∏–¥", case=False, regex=True, na=False)
data = data[mask].copy()

In [7]:
description_columns = ['–ö–æ—Ä–æ–±–∫–∞', '–û–±—ä–µ–º', '–¢–æ–ø–ª–∏–≤–æ', '–ö—É–∑–æ–≤']
data[description_columns] = data['–û–ø–∏—Å–∞–Ω–∏–µ'].str.split(', ', expand=True)
data.drop(columns=['–û–ø–∏—Å–∞–Ω–∏–µ'], inplace=True)
data.head()

,–ú–æ–¥–µ–ª—å,–ì–æ–¥,–ü—Ä–æ–±–µ–≥,–¶–µ–Ω–∞,–ö–æ—Ä–æ–±–∫–∞,–û–±—ä–µ–º,–¢–æ–ø–ª–∏–≤–æ,–ö—É–∑–æ–≤
0,BMW 1 —Å–µ—Ä–∏—è F40,2019,129000,16999,—Ä–æ–±–æ—Ç,"1,5¬†–ª",–¥–∏–∑–µ–ª—å,—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.
1,BMW 7 —Å–µ—Ä–∏—è G12 (Long) ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2019,35000,83777,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω
2,BMW 5 —Å–µ—Ä–∏—è E39,1999,400000,3399,–º–µ—Ö–∞–Ω–∏–∫–∞,"2,5¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω
3,"BMW 1 —Å–µ—Ä–∏—è E81, E82, E88, E87",2005,370000,7200,–∞–≤—Ç–æ–º–∞—Ç,"2,0¬†–ª",–±–µ–Ω–∑–∏–Ω,—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.
4,BMW X6 E71 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2012,149000,23450,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–±–µ–Ω–∑–∏–Ω,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.

In [8]:
data['–ú–æ–¥–µ–ª—å'].value_counts()

–ú–æ–¥–µ–ª—å
BMW 5 —Å–µ—Ä–∏—è E39 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥             131
BMW 5 —Å–µ—Ä–∏—è E39                          130
BMW X3 G01                               101
BMW 5 —Å–µ—Ä–∏—è G30, G31                     100
BMW 3 —Å–µ—Ä–∏—è E36                           95
                                        ...
BMW X4M F98 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥                   1
BMW M6 E63, E64                            1
BMW 1 —Å–µ—Ä–∏—è E82, E88 ¬∑ 2-–π —Ä–µ—Å—Ç–∞–π–ª–∏–Ω–≥      1
BMW 6 —Å–µ—Ä–∏—è E24                            1
BMW M3 F80                                 1
Name: count, Length: 129, dtype: int64

In [9]:
data.groupby('–ú–æ–¥–µ–ª—å').mean(numeric_only=True).sort_values(by='–¶–µ–Ω–∞', ascending=False).round()

                                    –ì–æ–¥    –ü—Ä–æ–±–µ–≥      –¶–µ–Ω–∞
–ú–æ–¥–µ–ª—å
BMW X5 G05 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥, 7¬†–º–µ—Å—Ç  2024.0   10400.0  149000.0
BMW X7 I ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥, 7¬†–º–µ—Å—Ç    2024.0   13043.0  137011.0
BMW 7 —Å–µ—Ä–∏—è G70                  2023.0   16933.0  126333.0
BMW X6 G06 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥          2023.0   33480.0  120513.0
BMW M8 F91, F92, F93             2020.0   45566.0  113333.0
...                                 ...       ...       ...
BMW 3 —Å–µ—Ä–∏—è E21                  1980.0  226500.0    3450.0
BMW 7 —Å–µ—Ä–∏—è E32                  1989.0  467483.0    3430.0
BMW 3 —Å–µ—Ä–∏—è E36                  1996.0  381537.0    2839.0
BMW 5 —Å–µ—Ä–∏—è E34                  1993.0  438039.0    2754.0
BMW 5 —Å–µ—Ä–∏—è E28                  1986.0  275000.0    1850.0

[129 rows x 3 columns]

In [10]:
# –ò–∑–≤–ª–µ–∫–∞–µ–º —Å–µ—Ä–∏—é (–Ω–∞–ø—Ä–∏–º–µ—Ä, "1 —Å–µ—Ä–∏—è", "X6", "7 —Å–µ—Ä–∏—è", "M5")
data["–°–µ—Ä–∏—è"] = data["–ú–æ–¥–µ–ª—å"].str.extract(
    r"BMW (Z\d+|M\d+|[\dX]\s?—Å–µ—Ä–∏—è|X\d+|[\dX]\b)", 
    flags=re.IGNORECASE
)

# –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –ø–æ–∫–æ–ª–µ–Ω–∏–π (–±—É–∫–≤—ã + —Ü–∏—Ñ—Ä—ã –∏–ª–∏ —Ä–∏–º—Å–∫–∏–µ —Ü–∏—Ñ—Ä—ã)
data["–ü–æ–∫–æ–ª–µ–Ω–∏–µ"] = data["–ú–æ–¥–µ–ª—å"].str.findall(
    r"([A-Z]\d{2,3}|[IVXLCDM]+)\b"
).apply(lambda x: ', '.join(x) if x else None)

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ —Ä–µ—Å—Ç–∞–π–ª–∏–Ω–≥
data["–†–µ—Å—Ç–∞–π–ª–∏–Ω–≥"] = data["–ú–æ–¥–µ–ª—å"].str.contains("–†–µ—Å—Ç–∞–π–ª–∏–Ω–≥", case=False).astype(int)

In [11]:
data

,–ú–æ–¥–µ–ª—å,–ì–æ–¥,–ü—Ä–æ–±–µ–≥,–¶–µ–Ω–∞,–ö–æ—Ä–æ–±–∫–∞,–û–±—ä–µ–º,–¢–æ–ø–ª–∏–≤–æ,–ö—É–∑–æ–≤,–°–µ—Ä–∏—è,–ü–æ–∫–æ–ª–µ–Ω–∏–µ,–†–µ—Å—Ç–∞–π–ª–∏–Ω–≥
0,BMW 1 —Å–µ—Ä–∏—è F40,2019,129000,16999,—Ä–æ–±–æ—Ç,"1,5¬†–ª",–¥–∏–∑–µ–ª—å,—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.,1 —Å–µ—Ä–∏—è,F40,0
1,BMW 7 —Å–µ—Ä–∏—è G12 (Long) ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2019,35000,83777,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω,7 —Å–µ—Ä–∏—è,G12,1
2,BMW 5 —Å–µ—Ä–∏—è E39,1999,400000,3399,–º–µ—Ö–∞–Ω–∏–∫–∞,"2,5¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω,5 —Å–µ—Ä–∏—è,E39,0
3,"BMW 1 —Å–µ—Ä–∏—è E81, E82, E88, E87",2005,370000,7200,–∞–≤—Ç–æ–º–∞—Ç,"2,0¬†–ª",–±–µ–Ω–∑–∏–Ω,—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.,1 —Å–µ—Ä–∏—è,"E81, E82, E88, E87",0
4,BMW X6 E71 ¬∑ –†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,2012,149000,23450,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–±–µ–Ω–∑–∏–Ω,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.,X6,E71,1
...,...,...,...,...,...,...,...,...,...,...,...
2970,BMW X6 E71,2011,277000,22290,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.,X6,E71,0
2971,"BMW 5 —Å–µ—Ä–∏—è F10, F11",2012,256000,23500,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω,5 —Å–µ—Ä–∏—è,"F10, F11",0
2972,"BMW 4 —Å–µ—Ä–∏—è F32, F33, F36",2013,268500,21500,–∞–≤—Ç–æ–º–∞—Ç,"2,0¬†–ª",–±–µ–Ω–∑–∏–Ω,–∫—É–ø–µ,4 —Å–µ—Ä–∏—è,"F32, F33, F36",0
2973,BMW 2 —Å–µ—Ä–∏—è Active Tourer F45,2017,200000,13000,–º–µ—Ö–∞–Ω–∏–∫–∞,"1,5¬†–ª",–¥–∏–∑–µ–ª—å,–º–∏–Ω–∏–≤—ç–Ω,2 —Å–µ—Ä–∏—è,F45,0
2974,BMW 7 —Å–µ—Ä–∏—è E65,2002,280000,6300,–∞–≤—Ç–æ–º–∞—Ç,"3,6¬†–ª",–±–µ–Ω–∑–∏–Ω,—Å–µ–¥–∞–Ω,7 —Å–µ—Ä–∏—è,E65,0

In [12]:
(
    data[data['–ü–æ–∫–æ–ª–µ–Ω–∏–µ'].isna()].shape[0],
    data[data['–°–µ—Ä–∏—è'].isna()].shape[0],
    data[data['–†–µ—Å—Ç–∞–π–ª–∏–Ω–≥'].isna()].shape[0]
)

(0, 0, 0)

In [13]:
data[['–°–µ—Ä–∏—è', '–ü–æ–∫–æ–ª–µ–Ω–∏–µ']].value_counts().sort_values(ascending=False).to_frame()

                   count
–°–µ—Ä–∏—è   –ü–æ–∫–æ–ª–µ–Ω–∏–µ
5 —Å–µ—Ä–∏—è E39          261
        G30, G31     170
X3      G01          149
5 —Å–µ—Ä–∏—è E60, E61     130
3 —Å–µ—Ä–∏—è E46          113
...                  ...
6 —Å–µ—Ä–∏—è E24            1
5 —Å–µ—Ä–∏—è E12            1
M6      E63, E64       1
M5      E60, E61       1
X5      M, F95         1

[79 rows x 1 columns]

In [14]:
data.drop(["–ú–æ–¥–µ–ª—å"], axis=1, inplace=True, errors="ignore")
data

,–ì–æ–¥,–ü—Ä–æ–±–µ–≥,–¶–µ–Ω–∞,–ö–æ—Ä–æ–±–∫–∞,–û–±—ä–µ–º,–¢–æ–ø–ª–∏–≤–æ,–ö—É–∑–æ–≤,–°–µ—Ä–∏—è,–ü–æ–∫–æ–ª–µ–Ω–∏–µ,–†–µ—Å—Ç–∞–π–ª–∏–Ω–≥
0,2019,129000,16999,—Ä–æ–±–æ—Ç,"1,5¬†–ª",–¥–∏–∑–µ–ª—å,—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.,1 —Å–µ—Ä–∏—è,F40,0
1,2019,35000,83777,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω,7 —Å–µ—Ä–∏—è,G12,1
2,1999,400000,3399,–º–µ—Ö–∞–Ω–∏–∫–∞,"2,5¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω,5 —Å–µ—Ä–∏—è,E39,0
3,2005,370000,7200,–∞–≤—Ç–æ–º–∞—Ç,"2,0¬†–ª",–±–µ–Ω–∑–∏–Ω,—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.,1 —Å–µ—Ä–∏—è,"E81, E82, E88, E87",0
4,2012,149000,23450,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–±–µ–Ω–∑–∏–Ω,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.,X6,E71,1
...,...,...,...,...,...,...,...,...,...,...
2970,2011,277000,22290,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.,X6,E71,0
2971,2012,256000,23500,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,—Å–µ–¥–∞–Ω,5 —Å–µ—Ä–∏—è,"F10, F11",0
2972,2013,268500,21500,–∞–≤—Ç–æ–º–∞—Ç,"2,0¬†–ª",–±–µ–Ω–∑–∏–Ω,–∫—É–ø–µ,4 —Å–µ—Ä–∏—è,"F32, F33, F36",0
2973,2017,200000,13000,–º–µ—Ö–∞–Ω–∏–∫–∞,"1,5¬†–ª",–¥–∏–∑–µ–ª—å,–º–∏–Ω–∏–≤—ç–Ω,2 —Å–µ—Ä–∏—è,F45,0
2974,2002,280000,6300,–∞–≤—Ç–æ–º–∞—Ç,"3,6¬†–ª",–±–µ–Ω–∑–∏–Ω,—Å–µ–¥–∞–Ω,7 —Å–µ—Ä–∏—è,E65,0

In [15]:
description_columns = [
    "–°–µ—Ä–∏—è","–ü–æ–∫–æ–ª–µ–Ω–∏–µ","–ö—É–∑–æ–≤","–ì–æ–¥","–†–µ—Å—Ç–∞–π–ª–∏–Ω–≥","–ü—Ä–æ–±–µ–≥","–ö–æ—Ä–æ–±–∫–∞","–û–±—ä–µ–º","–¢–æ–ø–ª–∏–≤–æ","–¶–µ–Ω–∞"
]
data = data[description_columns]
data

,–°–µ—Ä–∏—è,–ü–æ–∫–æ–ª–µ–Ω–∏–µ,–ö—É–∑–æ–≤,–ì–æ–¥,–†–µ—Å—Ç–∞–π–ª–∏–Ω–≥,–ü—Ä–æ–±–µ–≥,–ö–æ—Ä–æ–±–∫–∞,–û–±—ä–µ–º,–¢–æ–ø–ª–∏–≤–æ,–¶–µ–Ω–∞
0,1 —Å–µ—Ä–∏—è,F40,—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.,2019,0,129000,—Ä–æ–±–æ—Ç,"1,5¬†–ª",–¥–∏–∑–µ–ª—å,16999
1,7 —Å–µ—Ä–∏—è,G12,—Å–µ–¥–∞–Ω,2019,1,35000,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,83777
2,5 —Å–µ—Ä–∏—è,E39,—Å–µ–¥–∞–Ω,1999,0,400000,–º–µ—Ö–∞–Ω–∏–∫–∞,"2,5¬†–ª",–¥–∏–∑–µ–ª—å,3399
3,1 —Å–µ—Ä–∏—è,"E81, E82, E88, E87",—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.,2005,0,370000,–∞–≤—Ç–æ–º–∞—Ç,"2,0¬†–ª",–±–µ–Ω–∑–∏–Ω,7200
4,X6,E71,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.,2012,1,149000,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–±–µ–Ω–∑–∏–Ω,23450
...,...,...,...,...,...,...,...,...,...,...
2970,X6,E71,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.,2011,0,277000,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,22290
2971,5 —Å–µ—Ä–∏—è,"F10, F11",—Å–µ–¥–∞–Ω,2012,0,256000,–∞–≤—Ç–æ–º–∞—Ç,"3,0¬†–ª",–¥–∏–∑–µ–ª—å,23500
2972,4 —Å–µ—Ä–∏—è,"F32, F33, F36",–∫—É–ø–µ,2013,0,268500,–∞–≤—Ç–æ–º–∞—Ç,"2,0¬†–ª",–±–µ–Ω–∑–∏–Ω,21500
2973,2 —Å–µ—Ä–∏—è,F45,–º–∏–Ω–∏–≤—ç–Ω,2017,0,200000,–º–µ—Ö–∞–Ω–∏–∫–∞,"1,5¬†–ª",–¥–∏–∑–µ–ª—å,13000
2974,7 —Å–µ—Ä–∏—è,E65,—Å–µ–¥–∞–Ω,2002,0,280000,–∞–≤—Ç–æ–º–∞—Ç,"3,6¬†–ª",–±–µ–Ω–∑–∏–Ω,6300

In [16]:
data['–¢–æ–ø–ª–∏–≤–æ'].value_counts()

–¢–æ–ø–ª–∏–≤–æ
–±–µ–Ω–∑–∏–Ω                   1450
–¥–∏–∑–µ–ª—å                   1316
–±–µ–Ω–∑–∏–Ω (–ø—Ä–æ–ø–∞–Ω-–±—É—Ç–∞–Ω)      27
Name: count, dtype: int64

In [17]:
data['–ö—É–∑–æ–≤'].value_counts()

–ö—É–∑–æ–≤
—Å–µ–¥–∞–Ω                1173
–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.     891
—É–Ω–∏–≤–µ—Ä—Å–∞–ª             291
–ª–∏—Ñ—Ç–±–µ–∫               130
–º–∏–Ω–∏–≤—ç–Ω                91
–∫—É–ø–µ                   79
—Ö—ç—Ç—á–±–µ–∫ 5 –¥–≤.          71
–∫–∞–±—Ä–∏–æ–ª–µ—Ç              40
—Ö—ç—Ç—á–±–µ–∫ 3 –¥–≤.          24
—Ä–æ–¥—Å—Ç–µ—Ä                 3
Name: count, dtype: int64

In [18]:
data['–ö–æ—Ä–æ–±–∫–∞'].value_counts()

–ö–æ—Ä–æ–±–∫–∞
–∞–≤—Ç–æ–º–∞—Ç     2057
–º–µ—Ö–∞–Ω–∏–∫–∞     578
—Ä–æ–±–æ—Ç        158
Name: count, dtype: int64

In [19]:
data['–ü—Ä–æ–±–µ–≥'].value_counts(bins=10)

(100912.5, 200811.0]              705
(15.014000000000001, 100912.5]    644
(200811.0, 300709.5]              570
(300709.5, 400608.0]              509
(400608.0, 500506.5]              269
(500506.5, 600405.0]               78
(600405.0, 700303.5]               11
(900100.5, 999999.0]                4
(700303.5, 800202.0]                2
(800202.0, 900100.5]                1
Name: count, dtype: int64

In [20]:
data['–û–±—ä–µ–º'].value_counts()

–û–±—ä–µ–º
2,0¬†–ª    1000
3,0¬†–ª     893
2,5¬†–ª     250
1,5¬†–ª     242
4,4¬†–ª     101
2,9¬†–ª      74
1,6¬†–ª      55
1,8¬†–ª      42
2,8¬†–ª      29
2,2¬†–ª      27
1,9¬†–ª      22
4,8¬†–ª      20
3,5¬†–ª       9
1,7¬†–ª       7
4,0¬†–ª       6
3,6¬†–ª       5
2,4¬†–ª       4
3,9¬†–ª       2
5,0¬†–ª       2
5,4¬†–ª       1
6,6¬†–ª       1
6,0¬†–ª       1
Name: count, dtype: int64

In [21]:
data.to_csv(BMW_PREPROCESSED, index=False)